@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
:root {
  --White: hsl(0, 0%, 100%);
  --Lightgray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit";
}
html,
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--Lightgray);
}
body {
  display: grid;
  place-items: center;
}

.container {
  padding: 15px;
  background-color: var(--White);
  max-width: 300px;
  border-radius: 20px;
  box-shadow: 1.1px 1.4px 1.9px rgba(0, 0, 0, 0.003),
    2.5px 3.3px 4.3px rgba(0, 0, 0, 0.006), 4.5px 6px 7.7px rgba(0, 0, 0, 0.009),
    7.5px 10px 12.8px rgba(0, 0, 0, 0.012),
    12.4px 16.4px 21.2px rgba(0, 0, 0, 0.016),
    21.7px 28.7px 37px rgba(0, 0, 0, 0.02), 47px 62px 80px rgba(0, 0, 0, 0.03);
}

.container_header {
  max-width: 300px;
}

.container_header-img {
  max-width: 100%;
  border-radius: 15px;
}
.container_content {
  text-align: center;
  padding: 24px 12px;
}
.container_content-heading {
  font-size: 20px;
  margin-bottom: 12px;
  color: var(--Dark-blue);
}
.container_content-p {
  font-size: 15px;
  color: var(--Grayish-blue);
  font-weight: 400;
}
